<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Distributor</servlet-name>
        <servlet-class>Distributor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a2</servlet-name>
        <servlet-class>a2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sat</servlet-name>
        <servlet-class>sat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Distributor2</servlet-name>
        <servlet-class>Distributor2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sat2</servlet-name>
        <servlet-class>sat2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase2</servlet-name>
        <servlet-class>purchase2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee2</servlet-name>
        <servlet-class>employee2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>drug</servlet-name>
        <servlet-class>drug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>ValidateAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>import2</servlet-name>
        <servlet-class>import2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>import3</servlet-name>
        <servlet-class>import3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>export2</servlet-name>
        <servlet-class>export2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Distributor</servlet-name>
        <url-pattern>/Distributor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a2</servlet-name>
        <url-pattern>/a2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sat</servlet-name>
        <url-pattern>/sat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Distributor2</servlet-name>
        <url-pattern>/Distributor2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sat2</servlet-name>
        <url-pattern>/sat2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase2</servlet-name>
        <url-pattern>/purchase2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee2</servlet-name>
        <url-pattern>/employee2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>drug</servlet-name>
        <url-pattern>/drug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>import2</servlet-name>
        <url-pattern>/import2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>import3</servlet-name>
        <url-pattern>/import3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export2</servlet-name>
        <url-pattern>/export2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
